@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vwjmdx');
  src:  url('fonts/icomoon.eot?vwjmdx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vwjmdx') format('truetype'),
    url('fonts/icomoon.woff?vwjmdx') format('woff'),
    url('fonts/icomoon.svg?vwjmdx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liste:before {
  content: "\e900";
  color: #f59a00;
}
.icon-visites:before {
  content: "\e901";
  color: #f59a00;
}
.icon-acces:before {
  content: "\e902";
  color: #f59a00;
}
.icon-actions:before {
  content: "\e903";
  color: #f59a00;
}
.icon-com:before {
  content: "\e904";
  color: #f59a00;
}
.icon-emails:before {
  content: "\e905";
  color: #f59a00;
}
.icon-menu:before {
  content: "\e906";
}
.icon-newsletter:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-contact:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-insta:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e947";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
