<section id="introductionIdentiteVisuelle_anchorId" class="moduleDefault _introductionIdentiteVisuelleContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd6 bxt12">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">{{ introductionIdentiteVisuelle.titre|raw }}</h1>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">{{ introductionIdentiteVisuelle.sousTitre|raw }}</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ introductionIdentiteVisuelle.text|raw }}</p>
        </div>
        <div class="imgStructure bxd6 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/identiteVisuelle/module_introduction/intro.png" alt="{{ introductionIdentiteVisuelle.altImg }}">
        </div>
    </div>
</section>
