<section id="valorisationMarqueIdentiteVisuelle_anchorId" class="moduleDefault _valorisationMarqueIdentiteVisuelleContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd8 bxt12">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom__Out">Valorisez votre marque <span class="textColor_2">avec la papeterie</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">En plus de la création de votre logo et de votre charte graphique, nos graphistes vous proposent <strong>de décliner votre identité sur les principaux supports papier: </strong></p>
            <div class="listItems">
                <div class="itemContent BxAnim animBxFadeBottom__Out">
                    <img class="imgItem" src="/assets/img/modules/identiteVisuelle/module_valorisationMarque/papierEntete.svg" alt="">
                    <p class="textItem">Papier <br>en-tête</p>
                </div>
                <div class="itemContent BxAnim animBxFadeBottom__Out">
                    <img class="imgItem" src="/assets/img/modules/identiteVisuelle/module_valorisationMarque/carteVisite.svg" alt="">
                    <p class="textItem">Carte de <br>visite</p>
                </div>
                <div class="itemContent BxAnim animBxFadeBottom__Out">
                    <img class="imgItem" src="/assets/img/modules/identiteVisuelle/module_valorisationMarque/carteCorrespondance.svg" alt="">
                    <p class="textItem">Carte de <br>correspondance</p>
                </div>
            </div>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">En déclinant votre charte et logo <strong>sur l'ensemble des documents que vous utilisez au quotidien</strong>, vous véhiculez un message de cohérence et de professionnalisme à vos contacts.</p>
        </div>
        <div class="imgStructure bxd4 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/identiteVisuelle/module_valorisationMarque/papeterie.png" alt="">
        </div>
        <div class="bxd12 divBottom">
            <p class="textBottom titreSection_2 BxAnim animBxFadeBottom__Out">La Boite Immo vous propose <span class="textColor_2">une offre complète et professionnelle adaptée à votre activité.</span></p>
        </div>
    </div>
</section>
