<section id="introductionLaBoite_anchorId" class="moduleDefault _introductionLaBoiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">{{ introductionLaBoite.titre|raw }}</h1>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ introductionLaBoite.text|raw }}</p>
        </div>
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/laBoite/module_introduction/imgLaBoite_1.jpg" alt="{{ introductionLaBoite.altImg }}">
        </div>
        <div class="divBottom">
            <p class="textItalic BxAnim animBxFadeBottom__Out">{{ introductionLaBoite.textBottom|raw }}</p>
        </div>
    </div>
</section>
