<section id="nouveauProjetLaBoite_anchorId" class="moduleDefault _nouveauProjetLaBoiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure BxAnim animBxFadeBottom__Out">
            <p class="titreSection">{{ nouveauProjetLaBoite.titre|raw }}</p>
            <button class="btnDefault transition250 js_CallPopin" data-popin="contactForm">{{ nouveauProjetLaBoite.textBtn|raw }}</button>
        </div>
    </div>
</section>
