<section id="introductionWebmarkImmo_anchorId" class="moduleDefault _introductionWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd6 bxt12">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">Mettez en valeur <span class="textColor">vos mandats !</span></h1>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Découvrez nos solutions <strong class="textColor">pour valoriser vos mandats !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Faites la différence et démarquez-vous de la concurrence grâce à nos différentes solutions.</strong>. Profitez de la puissance de ces outils innovants pour générer plus de contacts et apporter du contenu complet et interactif à vos clients.</p>
            <div class="bxrow listButtonAnchor">
                <button class="bxd4 btnAnchor js_scrollTo BxAnim animBxFadeBottom__Out" data-position-value="-100" data-url="virtualVisit_anchorId"><span class="textBtn transition500">Visite <br>virtuelle</span></button>
                <button class="bxd4 btnAnchor js_scrollTo BxAnim animBxFadeBottom__Out" data-position-value="150" data-url="spotVideo_anchorId"><span class="textBtn transition500">Vidéo <br>immobilière</span></button>
                <button class="bxd4 btnAnchor js_scrollTo BxAnim animBxFadeBottom__Out" data-position-value="-100" data-url="pixHdr_anchorId"><span class="textBtn transition500">Photo <br>immobilière</span></button>
            </div>
        </div>
        <div class="imageStructure bxd6 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_introduction/webmarkimmo.png">
        </div>
    </div>
</section>