<section id="liveVisitWebmarkImmo_anchorId" class="moduleDefault _liveVisitWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxld9 bxt12">
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_liveVisit/logoLiveVisit.svg">
                <h2 class="titreSection"><span class="textColor">live</span> visit</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Organisez des visites <strong class="textColor">à distance !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">L'outil Live Visit vous permet <strong>d'organiser une visite virtuelle immobilière à distance</strong> en visioconférence avec une ou plusieurs personne via une synchronisation des écrans et un système de chat.</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Idéal pour visiter un bien <strong>à tout moment et sans se déplacer</strong>. Cette solution séduit aussi les propriétaires qui prévilégient ce mode de visite peu intrusif et innovant.</p>
        </div>
        <div class="imageStructure BxAnim animBxFadeBottom__Out bxld15 bxt12">
            <img class="image" src="/assets/img/modules/webmarkimmo/module_liveVisit/liveVisit.png">
        </div>
        <div class="bxd12 bxrow packStructure BxAnim animBxFadeBottom__Out">
            <div class="bxd5 bxt12 imgContent">
                <img class="image" src="/assets/img/modules/webmarkimmo/module_liveVisit/packVR.png">
            </div>
            <div class="bxd7 bxt12 divContent">
                <p class="sousTitreSection_2">Découvrez notre <strong class="textColor">pack VR !</strong></p>
                <p class="textParagraphe"><strong>Pas besoin d'être un professionnel des nouvelles technologies pour créer une visite virtuelle !</strong> En optant pour notre pack Virtual Visit, vous obtiendrez une visite virtuelle de qualité professionnel. Ce pack comprend : <strong>Une caméra 360°, 1 trépied & 1 housse de rangement</strong></p>
                <span class="absoluteText">Photo non contractuelle</span>
            </div>
        </div>
        <div class="discoverStructure bxd12">
            <p class="titreSection BxAnim animBxFadeBottom__Out">Découvrir <strong class="textColor">Mooveo !</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">En savoir plus</button>
        </div>
    </div>
</section>
