<section id="mooveoWebmarkImmo_anchorId" class="moduleDefault _mooveoWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imageStructure bxld15 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_mooveo/mooveo.png">
        </div>
        <div class="divStructure bxld9 bxt12">
            <p class="topLine BxAnim animBxFadeBottom__Out">vidéo immobilière<p>
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_mooveo/logoMooveo.svg">
                <h2 class="titreSection"><span class="textColor">moo</span>veo</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Créez vos propres vidéos immobilières <strong class="textColor">en 5 minutes !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Accessible à tous et sans connaissances technique particulières, <strong>Mooveo</strong> vous guide pas à pas <strong>pour réaliser des vidéos de qualité professionnelle</strong> et vous aidez à développer vos stratégies webmarketing.</p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">Voir une démo</button>
        </div>
        <div class="infoItemStructure bxd12 bxrow">
            <div class="infoItemContent BxAnim animBxFadeBottom__Out bxd4 bxm12">
                <div class="infoItem">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_mooveo/infoItem_1.png" alt="">
                    <p class="sousTitreSection_2">Création <strong class="textColor">simple & autonome</strong></p>
                </div>
            </div>
            <div class="infoItemContent BxAnim animBxFadeBottom__Out bxd4 bxm12">
                <div class="infoItem">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_mooveo/infoItem_2.png" alt="">
                    <p class="sousTitreSection_2">Montage <strong class="textColor">instantané</strong></p>
                </div>
            </div>
            <div class="infoItemContent BxAnim animBxFadeBottom__Out bxd4 bxm12">
                <div class="infoItem">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_mooveo/infoItem_3.png" alt="">
                    <p class="sousTitreSection_2">Vidéos <strong class="textColor">attractives</strong></p>
                </div>
            </div>
        </div>
        <div class="discoverStructure bxd12 BxAnim animBxFadeBottom__Out">
            <p class="titreSection">Découvrir <strong class="textColor">Mooveo !</strong></p>
            <button class="btnDefault hektorHover hoverTranslate transition250">En savoir plus</button>
        </div>
    </div>
</section>
