<section id="pixHdrWebmarkImmo_anchorId" class="moduleDefault _pixHdrWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imageStructure bxld15 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_pixHdr/pixHdr.png">
        </div>
        <div class="divStructure bxld9 bxt12">
            <p class="topLine BxAnim animBxFadeBottom__Out">photo immobilière<p>
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_pixHdr/logoPixHdr.svg">
                <h2 class="titreSection"><span class="textColor">pix</span>hdr</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Réussissez toutes vos <strong class="textColor">photos comme un pro !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Grâce à <strong>l'application mobile Pix HDR</strong>, vous exploites facilement les méthodes des professionnels <strong>pour réussir à chaque fois vos photos à moindre coût</strong>.</p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">Voir une démo</button>
        </div>
        <div class="infosAppliContainer bxd12 bxrow">
            <div class="infosAppliStructure BxAnim animBxFadeBottom__Out bxd4 bxt6 bxm12">
                <div class="infosAppliContent">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_pixHdr/appli_1.png" alt="">
                    <p class="sousTitreSection_2">Une immersion <strong class="textColor">plus large</strong></p>
                    <p class="textParagraphe"><strong>Le mode grand-angle</strong> est utilisé dans l'univers de la photographie pour ouvrir le champ de vision de la photo <strong>et inclure un maximum d'éléments</strong>.</p>
                </div>
            </div>
            <div class="infosAppliStructure BxAnim animBxFadeBottom__Out bxd4 bxt6 bxm12">
                <div class="infosAppliContent">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_pixHdr/appli_2.png" alt="">
                    <p class="sousTitreSection_2">Profitez <strong class="textColor">d'astuces photos</strong></p>
                    <p class="textParagraphe"><strong>Grâce à nos conseils d'experts</strong>, nous vous accompagnons pas à pas afin de bien préparer votre pièce, obtenir la bonne luminosité, perspective et angle de vue : <strong>tous les points essentiels pour une bonne photo</strong> sont abosrbés de façon simple et ludique.</p>
                </div>
            </div>
            <div class="infosAppliStructure BxAnim animBxFadeBottom__Out bxd4 bxt12">
                <div class="infosAppliContent">
                    <img class="image" src="/assets/img/modules/webmarkimmo/module_pixHdr/appli_3.png" alt="">
                    <p class="sousTitreSection_2">Photographiez <strong class="textColor">puis partagez !</strong></p>
                    <p class="textParagraphe">En 1 clic, prenez des photos toujours droites<strong>grâce au repère visuel de l'application</strong>. Vous exploitez vos photos rapidement puisqu'en quelques secondes <strong>elles sont traitées prêtes pour le partage</strong>.</p>
                </div>
            </div>
        </div>
        <div class="discoverStructure bxd12">
            <p class="titreSection BxAnim animBxFadeBottom__Out">Découvrir <strong class="textColor">Pix HDR !</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">En savoir plus</button>
        </div>
    </div>
</section>
