<section id="socialConnectWebmarkImmo_anchorId" class="moduleDefault _socialConnectWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd5 bxt12">
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_socialConnect/logoSocialConnect.svg">
                <h2 class="titreSection"><span class="textColor">social</span>connect</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Diffusez <strong class="textColor">vos annonces !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec l'option Social Connect, vos vidéos sont diffusées sur <strong>vos réseaux sociaux</strong> afin d'optimiser <strong>votre visibilité sur internet</strong> et multiplier <strong>votre présence sur tous les réseaux</strong>.</p>
        </div>
        <div class="imageStructure bxd7 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_socialConnect/socialConnect.png">
        </div>
        <div class="discoverStructure bxd12">
            <p class="titreSection BxAnim animBxFadeBottom__Out">Découvrir <strong class="textColor">Social Connect !</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">En savoir plus</button>
        </div>
    </div>
</section>
