<section id="spotVideoWebmarkImmo_anchorId" class="moduleDefault _spotVideoWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imageStructure bxld15 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_spotVideo/spotVideo.png">
        </div>
        <div class="divStructure bxld9 bxt12">
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_spotVideo/logoSpotVideo.svg">
                <h2 class="titreSection"><span class="textColor">spot</span>video</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Transformez vos annonces <strong class="textColor">en vidéos !</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Spotvideo convertit automatiquement vos annonces immobilières en vidéos</strong> de façon simple et automatique pour séduire acquéreurs et loacataires et propriétaires. Les annonces immobilières avec vidéos générent plus de demandes d'informations, <strong>alors démarquez-vous grâce à votre allié du marketing immobilier.</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">Voir une démo</button>
        </div>
        <div class="discoverStructure bxd12">
            <p class="titreSection BxAnim animBxFadeBottom__Out">Découvrir <strong class="textColor">Spotvideo !</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">En savoir plus</button>
        </div>
    </div>
</section>
