<section id="virtualVisitWebmarkImmo_anchorId" class="moduleDefault _virtualVisitWebmarkImmoContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imageStructure bxld15 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/webmarkimmo/module_virtualVisit/virtualVisit.png">
        </div>
        <div class="divStructure bxld9 bxt12">
            <p class="topLine BxAnim animBxFadeBottom__Out">Visite virtuelle<p>
            <div class="titreContent BxAnim animBxFadeBottom__Out">
                <img class="logo" src="/assets/img/modules/webmarkimmo/module_virtualVisit/logoVirtualVisit.svg">
                <h2 class="titreSection"><span class="textColor">virtual</span> visit</h2>
            </div>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Créer facilement <strong class="textColor">vos visites virtuelles</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec <strong class="textColor">Virtual Visit</strong>, créer vos visites virtuelles en quelques clics afin de rendre vos annonces immobilières <strong>plus attractives et générer plus de visibilité.</strong></p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">Voir une démo</button>
        </div>
        <div class="bxd6 bxt12 bottomContent BxAnim animBxFadeBottom__Out difussionContainer">
            <img class="imgBottom" src="/assets/img/modules/webmarkimmo/module_virtualVisit/diffusion.png">
            <p class="sousTitreSection">Diffusez <strong class="textColor">votre visite virtuelle</strong></p>
            <p class="textParagraphe">Partagez votre visite virtuelle <strong>sur votre site, vos réseaux sociaux et les portails immobiliers</strong> : une manière innovante de présenter vos mandats et de vous démarquer de la concurrence.</p>
            <div class="btnBottom">
            </div>
        </div>
        <div class="bxd6 bxt12 bottomContent BxAnim animBxFadeBottom__Out appliMobContainer">
            <img class="imgBottom" src="/assets/img/modules/webmarkimmo/module_virtualVisit/appliMobile.png">
            <p class="sousTitreSection">Application mobile <strong class="textColor">virtual Visit</strong></p>
            <p class="textParagraphe"><strong>Incluse dans votre abonnement</strong>, l'application Virtual Visit vous permettra de réaliser et gérer vos visites virtuelles n'importe où et en toute autonomie. Téléchargez-la gratuitement sur l'App strore ou sur le Google Play Store !</p>
            <div class="btnBottom">
                <div class="btnAppMobilTab BxAnim transition500 BxAnim_3 animBxFadeBottom">
                    <span class="textButton">Disponible sur</span>
                    <a class="buttonLink" target="_blank" href="https://apps.apple.com/fr/app/hektor-logiciel/id1248905838">
                        <img class="logo" src="/assets/img/modules/appMobile/module_dispoApp/dispoApp_ios.png">
                    </a>
                    <a class="buttonLink" target="_blank" href="https://play.google.com/store/apps/details?id=com.laboiteimmo.HektorV2&amp;hl=fr">
                        <img class="logo" src="/assets/img/modules/appMobile/module_dispoApp/dispoApp_android.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
