<section id="appMobileLogicielImmobilier_anchorId" class="moduleDefault _appMobileLogicielImmobilierContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxld11 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/logicielImmobilier/module_appMobileTab/appMobileTab.png" alt="{{ appMobileLogicielImmobilier.altImg|raw }}">
        </div>
        <div class="bxld13 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ appMobileLogicielImmobilier.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ appMobileLogicielImmobilier.text|raw }}</p>
            <a href="/application-mobile" class="btnDefault BxAnim animBxFadeBottom__Out hektorHover withBorder hoverTranslate transition250">{{ appMobileLogicielImmobilier.textBtn|raw }}</a>
        </div>
    </div>
</section>
