<section id="lbiAcademyLogicielImmobilier_anchorId" class="moduleDefault _lbiAcademyLogicielImmobilierContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxld13 bxt12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Outt">Les formations <span class="textColor_2">La Boîte Immo Academy</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Outt"><strong>Totalement incluses et illimitées</strong>, les formations à distanceen webinar, sont réservables directmeent depuis le logiciel immobileir Hektor. Un planniong <strong>de plus de 30 formations par semaine</strong> vous permettent de vous perfectionner sur l'utilisation du logiciel.</p>
            <ul class="bxd12 bxrow listItems">
                <li class="item BxAnim animBxFadeBottom__Outt">
                    <img class="logoItem" src="/assets/img/modules/logicielImmobilier/module_formationsLbiAcademy/presentielle.svg" alt="icon Datadocké">
                    <p class="nameItem">formation<br> présentielle</p>
                </li>
                <li class="item BxAnim animBxFadeBottom__Outt">
                    <img class="logoItem" src="/assets/img/modules/logicielImmobilier/module_formationsLbiAcademy/webinar.svg" alt="icon certification loi ALur">
                    <p class="nameItem">formation<br> webinar</p>
                </li>
                <li class="item BxAnim animBxFadeBottom__Outt">
                    <img class="logoItem" src="/assets/img/modules/logicielImmobilier/module_formationsLbiAcademy/elearning.svg" alt="icon carte professionnelle">
                    <p class="nameItem">formation<br> e-learning</p>
                </li>
                <li class="item BxAnim animBxFadeBottom__Outt">
                    <img class="logoItem" src="/assets/img/modules/logicielImmobilier/module_formationsLbiAcademy/datadock.svg" alt="icon accessible">
                    <p class="nameItem">organisme<br> datadocké</p>
                </li>
            </ul>
            <p class="textParagraphe BxAnim animBxFadeBottom__Outt">La Boîte immo possède également <strong>son propre Organisme de formation agréé et datadocké : La Boîte Immo Academy</strong>. En plus des webinars, nous proposons des formations en présentiel et en e-learning <strong>validantes ALUR</strong> afin de vous accompagner dans <strong>le renouvellement de vos cartes professionnelles.</strong></p>

            <div class="btnContent BxAnim animBxFadeBottom__Outt">
                <button class="btnDefault lbiHover hoverTranslate transition250">La Boîte Immo Academy</button>
            </div>
        </div>
        <div class="imgInfoStructure BxAnim animBxFadeBottom__Outt bxld11 bxt12">
            <div class="logoContentRight">
                <img class="logoItem" src="/assets/img/modules/logicielImmobilier/module_formationsLbiAcademy/logoLBIAcademy.svg" alt="icon logo La Boîte Immo Academy">
            </div>
            <div class="blockInfosContent bxrow">
                <div class="blockInfos bxd6">
                    <span class="textColor_2">30</span>
                    formations<br> par semaine
                </div>
                <div class="blockInfos bxd6">
                    <span class="textColor_2">100<span class="indice">%</span></span>
                    incluses<br> & illimitées
                </div>
                <div class="blockInfos bxd6">
                    <span class="textColor_2">1<span class="indice">h</span></span>
                    les basiques
                </div>
                <div class="blockInfos bxd6">
                    <span class="textColor_2">30<span class="indice">min</span></span>
                    les focus
                </div>
            </div>
        </div>
    </div>
</section>
