<section id="introductionGestionEquipe_anchorId" class="moduleDefault _introductionGestionEquipeContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">{{ introductionGestionEquipe.titre|raw }}</h1>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">{{ introductionGestionEquipe.text|raw }}</p>
        </div>
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/gestionEquipe/module_gererVotreEquipe/gererVotreEquipe.svg" alt="{{ introductionGestionEquipe.altImg }}">
        </div>
    </div>
</section>
