<section id="adwordsReferencement_anchorId" class="moduleDefault _adwordsReferencementContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd6 bxt12">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom__Out">Le référencement Adwords, ne payez <span class="textColor_2">qu'à la visite !</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec notre prestation de référencement payant Google Adwords, <strong>vous optez pour une stratégie de référencement claire et efficace.</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Cette technique très complémentaire à notre office de référencement naturel, <strong>permet de générer rapidement un trafic ciblé sur une sémantique choisie,</strong> tout en maitrisant votre budget. </p>
        </div>
        <div class="imgStructure bxd6 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/referencement/module_adwords/sea.png" alt="illustration section la boite immo academy">
        </div>
        <div class="imgStructure_2 bxld13 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/referencement/module_adwords/sea_2.png" alt="illustration section la boite immo academy">
        </div>
        <div class="divStructure_2 bxld11 bxt12">
            <p class="titreSection_2 BxAnim animBxFadeBottom__Out">Comment <span class="textColor_2">ça marche ?</span></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Google Adwords permet de générer de nouveaux visiteurs avec un coûtpar clic défini.</strong> Vous achetez votre position dans les résultats publicitaires de Google. Le classement de votre site dans Google se fait <strong>en fonction du choix des mots clés et du montant du coût par clic,</strong> en ordre décroissant.</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nos campagnes de liens sponsorisés s'appuient sur <strong>un suivi professionnel et régulier</strong> pour des retombées assurées, et un positionnement de votre site <strong>en première page dans un délai très court.</strong></p>
        </div>
        <div class="divBottom bxd10">
            <div class="divGooglePartner BxAnim animBxFadeBottom__Out">
                <div class="leftDivContent">
                    <h2 class="sousTitreSection">La Boîte Immo, <span class="textColor_2">Partenaire Google !</span></h2>
                    <p class="textParagraphe">Notre équipe de référenceurs à la Boite Immo est <strong>diplomée et certifiée Google</strong>. Elle participe tous les ans à des formations et conférences nationales et itnernationnales.</p>
                </div>
                <div class="rightDivContent">
                    <img class="image" src="/assets/img/modules/referencement/module_adwords/googlePartner.svg" alt="illustration section la boite immo academy">
                </div>
            </div>
            <div class="titreBottom">
                <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Positionez-vous au plus vite <span class="textColor_2">en première page !</span></p>
                <button class="btnDefault BxAnim animBxFadeBottom__Out lbiHoverWhite hoverTranslate transition250">Découvrez nos offre</button>
            </div>
        </div>
    </div>
</section>
