<section id="googleAnalyticsReferencement_anchorId" class="moduleDefault _googleAnalyticsReferencementContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="googleAnalyticsContainer bxrow bxd12">
            <div class="imgStructure bxd6 bxt12">
                <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/referencement/module_googleAnalytics/googleAnalytics.png" alt="illustration section Google Analytics">
            </div>
            <div class="divStructure bxd6 bxt12">
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">Pour avoir une visibilité continue sur l'évolution de l'andience de votre site, <strong>Google Analytics est intégré par défaut à nos Back-Office.</strong> de plus, vous recevrez automatiquement <strong>un bilan complet jusqu'à 6 fois par an</strong> selon la prestation choisie.</strong></p>
                <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Vous retrouverez dans ce rapport, toutes les <span class="textColor_2">statistiques importantes de votre site :</span></p>
            </div>
        </div>
        <div class="listStructure bxrow bxd12">
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/positionnement.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Positionnement</strong> Sur les moteurs de recherche en fonction des mots clefs tapés par les internautes</p>
                </div>    
            </div>
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/repartition.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Répartition</strong> Du trafic mensuel provenant du SEO par rapport au trafic global</p>
                </div>    
            </div>
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/provenance.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Provenance</strong> Géographique du trafic (ville et pays)</p>
                </div>    
            </div>
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/repartition_2.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Répartition</strong> du trafic par support utilisé (desktop, smartphone ou tablette…)</p>
                </div>    
            </div>
            <div class="bxd6 bxt12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="textContent">
                    <p class="sousTitreSection">Vous retrouverez également une analyse détaillée des <span class="textColor_2">comportements des internautes ayant visités votre site :</span></p>
                </div>    
            </div>
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/classement.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Classement</strong> Des critères les plus tapés sur le moteur de recherche de votre site (prix, localité, nombre de pièces)</p>
                </div>    
            </div>
            <div class="bxd3 bxt6 bxm12 itemStructure BxAnim animBxFadeBottom__Out">    
                <div class="itemContent">
                    <img class="imageItem" src="/assets/img/modules/referencement/module_googleAnalytics/visite.svg" alt="illustration section la boite immo academy">
                    <p class="textItem"><strong>Nombre de visite</strong> Sur les pages de vos bien en vente, location ou programme neuf...</p>
                </div>    
            </div>
        </div>
        <div class="deepFlowContainer bxrow bxd12">
            <div class="imgStructure_2 BxAnim animBxFadeBottom__Out bxd6 bxt12">
                <img class="image" src="/assets/img/modules/referencement/module_googleAnalytics/deepFlowRealty.png" alt="illustration section Deep Flow Realty">
            </div>
            <div class="divStructure_2 bxd6 bxt12">
                <img class="logoDFR" src="/assets/img/modules/referencement/module_googleAnalytics/DFR.svg" alt="logo Deep Flow Realty">
                <h2 class="titreSection BxAnim animBxFadeBottom__Out">Une solution d'intelligence <span class="textColor_2">artificelle incluse !</span></h2>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec la technologie Deep Flow Realty, vous générez <strong>en un clic une description unique de 300 mots à l'orthographe et à la syntaxe parfaites.</strong> Ainsi, vous bannissez le duplicate content et <strong>améliorez votre positionnement</strong> sur les résultats de recherche internet.</p>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">L'annonce est enrichie <strong>de données contextuelles sur les points d'intérêt</strong> à proximité du bien (transports, écoles etc). Vous pouvez également générer une description en version anglaise.</p>
                <div class="listElementDFR">
                    <div class="elementDFR BxAnim animBxFadeBottom__Out">
                        <img class="imageElem" src="/assets/img/modules/referencement/module_googleAnalytics/visibilite.svg" alt="illustration section la boite immo academy">
                        <p class="textParagraphe">Meilleur <span class="textColor_2">visibilité</span></p>
                    </div>
                    <div class="elementDFR BxAnim animBxFadeBottom__Out">
                        <img class="imageElem" src="/assets/img/modules/referencement/module_googleAnalytics/optimisee.svg" alt="illustration section la boite immo academy">
                        <p class="textParagraphe">Annonce <span class="textColor_2">optimisée</span></p>
                    </div>
                    <div class="elementDFR BxAnim animBxFadeBottom__Out">
                        <img class="imageElem" src="/assets/img/modules/referencement/module_googleAnalytics/trafic.svg" alt="illustration section la boite immo academy">
                        <p class="textParagraphe">Trafic <span class="textColor_2">augmenté</span></p>
                    </div>
                    <div class="elementDFR BxAnim animBxFadeBottom__Out">
                        <img class="imageElem" src="/assets/img/modules/referencement/module_googleAnalytics/duplicate.svg" alt="illustration section la boite immo academy">
                        <p class="textParagraphe">Pas de duplicate <span class="textColor_2">content</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divBottom bxd12">
            <div class="titreBottom">
                <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Optez pour un référencement optimal <span class="textColor_2">& une visibilité maximale !</span></p>
                <button class="btnDefault BxAnim animBxFadeBottom__Out lbiHoverWhite hoverTranslate transition250">Découvrez nos offre</button>
            </div>
        </div>
    </div>
</section>
