<section id="introductionReferencement_anchorId" class="moduleDefault _introductionReferencementContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd5 bxt12">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">Référencez<span class="textColor_2">votre site !</span></h1>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Devenir leader c'est bien <span class="textColor_2">le rester c'est mieux !</span></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nous assurons <strong>le meilleur positionnement possible</strong> de votre site web immobilier grâce à <strong>des technologies pointues et un savoir-faire expert !</strong></p>
        </div>
        <div class="imgStructure bxd7 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/referencement/module_introduction/introduction.png" alt="illustration section la boite immo academy">
        </div>
        <div class="bxd12 listFAQContainer BxAnim animBxFadeBottom__Out">
            <div class="bxrow listFAQStructure">
                <div class="bxd4 bxt6 bxm12 itemFAQ">
                    <img class="iconQuestion" src="/assets/img/modules/referencement/module_introduction/pourquoi.svg" alt="icon question sur le référencement: pourquoi ?">
                    <p class="sousTitreSection_2">Pourquoi ?</p>
                    <p class="textParagraphe"><strong>Un site immobilier bien référencé,</strong> sur les principaux moteurs de recherche, <strong>est primordiale</strong> puisqu'il constitue la 1ère porte d'entrée de vos futurs acheterus et vendeurs !</p>
                </div>
                <div class="bxd4 bxt6 bxm12 itemFAQ">
                    <img class="iconQuestion" src="/assets/img/modules/referencement/module_introduction/comment.svg" alt="icon question sur le référencement: pourquoi ?">
                    <p class="sousTitreSection_2">Comment ?</p>
                    <p class="textParagraphe"><strong>Une analyse experte</strong> et un travail sur le contenu et la hiérarchie des éléments sont nécessaires pour permettre aux internautes d'accéder à votre offre.</p>
                </div>
                <div class="bxd4 bxt12 itemFAQ">
                    <img class="iconQuestion" src="/assets/img/modules/referencement/module_introduction/par_qui.svg" alt="icon question sur le référencement: pourquoi ?">
                    <p class="sousTitreSection_2">Par qui ?</p>
                    <p class="textParagraphe"><strong>Nos experts en SEO</strong> interviennent sur la conception, le contenu, l'ergonomie des contenus rédactionnels et l'images pour répondre <strong>au maximum aux exigences des moteurs de recherche.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
