<section id="investisseursEtrangersReferencement_anchorId" class="moduleDefault _investisseursEtrangersReferencementContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure bxd6 bxt12">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom__Out">Le référencement international,<span class="textColor_2">la porte d'accès aux investisseurs étrangers</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Les investisseurs étrangers représentent une part <strong>importante du marché de l'immobilier en France !</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec, notamment sur les biens de prestige, 55% du marché.</strong></p>
        </div>
        <div class="percentStructure BxAnim animBxFadeBottom__Out bxd6 bxt12">
            <p class="sousTitreSection"><span class="textColor_2">55%</span> investisseurs<br>étrangers</p>
        </div>
        <div class="imgStructure_2 BxAnim animBxFadeBottom__Out bxd6 bxt12">
            <img class="image" src="/assets/img/modules/referencement/module_investisseurEtranger/ref_international.png" alt="illustration section la boite immo academy">
        </div>
        <div class="divStructure_2 bxd6 bxt12">
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Avec le référencement immobilier international, vous ne pensez plus en termes de langues mais en termes de marché !</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">La plupart des internautes <strong>ne consultent que la première page</strong> de résultats des moteurs de recehrche, il est donc primordial pour attaquer des marchés étrangers que votre site apparaisse dans les premiers résultats sur les expressions liées à votre activité.</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Un bon référencement vous permettra un positionnement efficace de votre site <strong>sur les moteurs de recherche internationaux.</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Fort d'un savoir-faire sur le marché français, La Boite Immo vous propose de vous accompagner dans la <stron>conquête de client étrangers.</strong> Ainsi, nos experts vous accompagnent pour déployer vos campagnes sur les marchés anglais, espagnol, portugais, italien et allemand.</p>
        </div>
        <p class="textBottom titreSection_2 bxd12 BxAnim animBxFadeBottom__Out">Ouvrez la porte de votre agence <span class="textColor_2">sur le monde !</span></p>
    </div>
</section>
