<section id="seoReferencement_anchorId" class="moduleDefault _seoReferencementContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxld13 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/referencement/module_seo/seo_img.png" alt="illustration section la boite immo academy">
        </div>
        <div class="divStructure bxld11 bxt12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Le référencement naturel<span class="textColor_2">un incontournable !</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Les moteurs de recherche <strong>sont les principales sources de visite</strong> pour votre site Internet immobilier.</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Pour trouver un bien immobilier ou une agence immobilière, les propriétaires et acquéreurs <strong>sont plus de 90%</strong> à effectuer une recherche sur Google ou un autre moteur de recherche. <strong>Le référencement naturel est donc la première porte d'entrée de votre site.</strong></p>
        </div>
        <div class="bxrow bxd12 listInfosSeo">
            <div class="bxd4 bxt6 bxm12 itemInfoSeo BxAnim animBxFadeBottom__Out">
                <img class="iconCompetence" src="/assets/img/modules/referencement/module_seo/performance.svg" alt="icon question sur le référencement: pourquoi ?">
                <p class="sousTitreSection_2">Performance</p>
                <p class="textParagraphe">Notre équipe de référenceurs diplomés et spécialisés en immobilier s'adapte constamment <strong>aux évolutions des moteurs de recherche</strong> et restrusture le code de votre site en fonction des résultats et des objectifs fixés. Et ce afin que <strong>votre site reste optimisé</strong> tout au long de notre collaboration.</p>
            </div>
            <div class="bxd4 bxt6 bxm12 itemInfoSeo BxAnim animBxFadeBottom__Out">
                <img class="iconCompetence" src="/assets/img/modules/referencement/module_seo/analyse.svg" alt="icon question sur le référencement: pourquoi ?">
                <p class="sousTitreSection_2">Analyse</p>
                <p class="textParagraphe">Nos experts en SEO (Search Engine Optimization) réalisent en amont <strong>un audit de votre site immobilier</strong> et analyse son indexation et <strong>ses performances sur les différents moteurs de recherche.</strong></p>
            </div>
            <div class="bxd4 bxt12 itemInfoSeo BxAnim animBxFadeBottom__Out">
                <img class="iconCompetence" src="/assets/img/modules/referencement/module_seo/optimisation.svg" alt="icon question sur le référencement: pourquoi ?">
                <p class="sousTitreSection_2">Optimisation</p>
                <p class="textParagraphe">Nous travaillons ensuite <strong>sur l'optimisation de votre site</strong> et son contenu. Nous créons <strong>vos pages google Map et Google My Business</strong> afin de référencer localement votre agence immobilière.</p>
            </div>
        </div>
        <div class="divContainer_2 bxd12 bxrow">
            <div class="divStructure_2 bxd6 bxt12">
                <h3 class="sousTitreSection BxAnim animBxFadeBottom__Out">Suivis <span class="textColor_2">& bilans</span></h3>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Nous travaillons en toute transparence sur nos prestations de référencment!</strong></p>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nous mettons également <strong>une prestation de Call Tracking à votre disposition.</strong> Celle-ci vous permet, sans modification de votre système de téléphonie, d'attribuer un numéro de tracking, national ou local, à votre site internet. Les appels passés sur ce numéro de tracking sont ensuite <strong>redirigés vers le numéro de votre agence</strong>, en toute transparence pour les appelants comme pour les appelés. L'utilisation du call tracking vise <strong>à mesurer l'efficasité de la prestation de référencement</strong> souscrite et mesurer le trafic généré.</p>
            </div>
            <div class="imgStructure_2 BxAnim animBxFadeBottom__Out bxd6 bxt12">
                <img class="image" src="/assets/img/modules/referencement/module_seo/suivis_bilans.png" alt="illustration section la boite immo academy">
            </div>
        </div>
    </div>
</section>
