<section id="agendaAppMobile_anchorId" class="moduleDefault _agendaAppMobileContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxd6 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/appMobile/module_consulterAgenda/consulterAgenda.png" alt="{{ agendaAppMobile.altImg }}">
        </div>
        <div class="divStructure bxd6 bxt12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ agendaAppMobile.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ agendaAppMobile.text|raw }}</p>
        </div>
    </div>
</section>
