<section id="dispoAppAppMobile_anchorId" class="moduleDefault _dispoAppAppMobileContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ dispoAppAppMobile.titre|raw }}</p>
        {% include 'modules/generique/boutonApp.html.twig' %}
        <img class="imgBackground BxAnim animBxFadeBottom__Out" src="/assets/img/modules/appMobile/module_dispoApp/dispoApp.png">
    </div>
</section>
