<section id="documentsSuiviJuridique_anchorId" class="moduleDefault _documentsSuiviJuridiqueContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ documentsSuiviJuridique.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ documentsSuiviJuridique.text|raw }}</p>
        </div>
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/suiviJuridique/module_documentJuridique/documentJuridique.png" alt="{{documentsSuiviJuridique.altImg }}">
        </div>
    </div>
</section>
