<section id="introductionSuiviJuridique_anchorId" class="moduleDefault _introductionSuiviJuridiqueContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">{{ introductionSuiviJuridique.titre|raw }}</h1>
        </div>
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/suiviJuridique/module_introductionJuridique/introductionJuridique.svg" alt="{{ introductionSuiviJuridique.altImg }}">
        </div>
    </div>
</section>
