<div class="btnAppMobilTab BxAnim animBxFadeBottom__Out">
    <span class="textButton">Disponible sur</span>
    <a class="buttonLink" target="_blank" href="https://apps.apple.com/fr/app/hektor-logiciel/id1248905838">
        <img class="logo" src="/assets/img/modules/appMobile/module_dispoApp/dispoApp_ios.png">
    </a>
    <a class="buttonLink" target="_blank" href="https://play.google.com/store/apps/details?id=com.laboiteimmo.HektorV2&amp;hl=fr">
        <img class="logo" src="/assets/img/modules/appMobile/module_dispoApp/dispoApp_android.png">
    </a>
</div>
