<section id="demoLogiciel_anchorId" class="moduleDefault _demoLogicielContainer {{ demoLogicielGenerique.type }} BxAnim animBxFadeBottom__Out">
    <div class="moduleDefaultContainer bxrow">
        <p class="titreSection_2">{{ demoLogicielGenerique.text|raw }}</p>
        <a href="{{ demoLogicielGenerique.href }}" class="btnDefault transition250">{{ demoLogicielGenerique.textBtn|raw }}</a>
        <img class="image" src="/assets/img/modules/generique/module_demoLogiciel/hektor.png" alt="logo Hektor pointant le bouton de démonstration">
    </div>
</section>
