<section id="formulaireContact_anchorId" class="moduleDefault _formulaireContactContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <h2 class="titreSection bxd12">Demandez <span class="textColor">votre démo offerte !</span></h2>
        <div class="divStructure bxd5 bxt12">
            <p class="textParagraphe">Remplissez le formulaire ci-contre, nous nous engageons à vous recontacter dans les plus brefs délais. L'un de nos collaborateurs pourra vous accompagner et vous former durant cet essai. <span class="textColor">Gratuit et sans engagement.</span></p>
            <img class="image" src="/assets/img/modules/generique/module_formulaireContact/formulaireContact.png" alt="illustration formulaire de contact démo Hektor">
        </div>
        <form class="formStructure bxrow bxd7 bxt12">
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_nom" id="contactDemo_nom" placeholder="Nom *" required>
            </div>
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_prenom" id="contactDemo_prenom" placeholder="Prénom *" required>
            </div>
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_societe" id="contactDemo_societe" placeholder="Société *" required>
            </div>
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_email" id="contactDemo_email" placeholder="Email *" required>
            </div>
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_telephone" id="contactDemo_telephone" placeholder="Téléphone *" required>
            </div>
            <div class="formContent bxd4 bxt6 bxm12">
                <input class="inputForm transition250" type="text" name="contactDemo_cp" id="contactDemo_cp" placeholder="Code postal" required>
            </div>
            <div class="formContent bxd12">
                <input class="inputForm textareaForm transition250" type="text" name="contactDemo_message" id="contactDemo_message" placeholder="Votre message">
            </div>
            <div class="formContent bxd12">
                <label class="labelForm">
                    <input class="checkboxForm" type="checkbox" name="contactDemo_cudd" id="contactDemo_cudd">
                    <p class="textLabel textParagraphe">J'accepte les conditions d'utilisations des données *</p>
                </label>
                <p class="textConsigne">* Champs obligatoire de remplir</p>
            </div>
            <div class="formContent bxd12">
                <p class="textConsigne">Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par La Boite Immo pour La gestion de sa clientèle/prospects. Elles sont conservées jusqu'à demande de suppression et sont destinées à La Boite Immo. Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant rgpd@la-boite-immo.com. Nous vous informons de l’existence de la liste d'opposition au démarchage téléphonique « Bloctel », sur laquelle vous pouvez vous inscrire ici : https://conso.bloctel.fr/</p>
                <button class="btnDefault transition250" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
</section>