html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
select,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
button,
textarea,
time,
mark,
audio,
video,
svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    outline: none !important;
    outline-color: transparent !important;
    color: #333;
    font-family: 'OpenSans', sans-serif;
    z-index: 1;
    font-weight: 400;
    line-height: 1.5;
}

:focus {
    outline: none !important;
    outline-color: transparent !important;
    outline-style: none !important;
    outline-width: 0 !important;
}

button,
.link {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #dbdbdb;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

body.popinOpen {
    overflow: hidden;
}


/* TRANSITION */

.transition250,
.transition250:hover {
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.transition500,
.transition500:hover {
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
}

.transition750,
.transition750:hover {
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

.transition1000,
.transition1000:hover {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.transition2000,
.transition2000:hover {
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.transition3000,
.transition3000:hover {
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}


/* BOXRES */

.bxrow {
    display: flex;
    flex-wrap: wrap;
}

.bxd0 {
    display: none;
}

.bxd1 {
    display: flex;
    width: 8.33%;
}

.bxd2 {
    display: flex;
    width: 16.66%;
}

.bxd3 {
    display: flex;
    width: 25%;
}

.bxd4 {
    display: flex;
    width: 33.33%;
}

.bxd5 {
    display: flex;
    width: 41.66%;
}

.bxd6 {
    display: flex;
    width: 50%;
}

.bxd7 {
    display: flex;
    width: 58.33%;
}

.bxd8 {
    display: flex;
    width: 66.66%;
}

.bxd9 {
    display: flex;
    width: 75%;
}

.bxd10 {
    display: flex;
    width: 83.33%;
}

.bxd11 {
    display: flex;
    width: 91.66%;
}

.bxd12 {
    display: flex;
    width: 100%;
}

.bxld0 {
    display: none;
}

.bxld1 {
    display: flex;
    width: 4.16%;
}

.bxld2 {
    display: flex;
    width: 8.33%;
}

.bxld3 {
    display: flex;
    width: 12.5%;
}

.bxld4 {
    display: flex;
    width: 16.66%;
}

.bxld5 {
    display: flex;
    width: 20.82%;
}

.bxld6 {
    display: flex;
    width: 25%;
}

.bxld7 {
    display: flex;
    width: 29.16%;
}

.bxld8 {
    display: flex;
    width: 33.33%;
}

.bxld9 {
    display: flex;
    width: 37.48%;
}

.bxld10 {
    display: flex;
    width: 41.65%;
}

.bxld11 {
    display: flex;
    width: 45.81%;
}

.bxld12 {
    display: flex;
    width: 50%;
}

.bxld13 {
    display: flex;
    width: 54.16%;
}

.bxld14 {
    display: flex;
    width: 58.33%;
}

.bxld15 {
    display: flex;
    width: 62.47%;
}

.bxld16 {
    display: flex;
    width: 66.66%;
}

.bxld17 {
    display: flex;
    width: 70.8%;
}

.bxld18 {
    display: flex;
    width: 75%;
}

.bxld19 {
    display: flex;
    width: 79.16%;
}

.bxld20 {
    display: flex;
    width: 83.3%;
}

.bxld21 {
    display: flex;
    width: 87.46%;
}

.bxld22 {
    display: flex;
    width: 91.63%;
}

.bxld23 {
    display: flex;
    width: 95.79%;
}

.bxld24 {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .bxt0 {
        display: none;
    }
    .bxt1 {
        display: flex;
        width: 8.33%;
    }
    .bxt2 {
        display: flex;
        width: 16.66%;
    }
    .bxt3 {
        display: flex;
        width: 25%;
    }
    .bxt4 {
        display: flex;
        width: 33.33%;
    }
    .bxt5 {
        display: flex;
        width: 41.66%;
    }
    .bxt6 {
        display: flex;
        width: 50%;
    }
    .bxt7 {
        display: flex;
        width: 58.33%;
    }
    .bxt8 {
        display: flex;
        width: 66.66%;
    }
    .bxt9 {
        display: flex;
        width: 75%;
    }
    .bxt10 {
        display: flex;
        width: 83.33%;
    }
    .bxt11 {
        display: flex;
        width: 91.66%;
    }
    .bxt12 {
        display: flex;
        width: 100%;
    }
    .bxlt0 {
        display: none;
    }
    .bxlt1 {
        display: flex;
        width: 4.16%;
    }
    .bxlt2 {
        display: flex;
        width: 8.33%;
    }
    .bxlt3 {
        display: flex;
        width: 12.5%;
    }
    .bxlt4 {
        display: flex;
        width: 16.66%;
    }
    .bxlt5 {
        display: flex;
        width: 20.82%;
    }
    .bxlt6 {
        display: flex;
        width: 25%;
    }
    .bxlt7 {
        display: flex;
        width: 29.16%;
    }
    .bxlt8 {
        display: flex;
        width: 33.33%;
    }
    .bxlt9 {
        display: flex;
        width: 37.48%;
    }
    .bxlt10 {
        display: flex;
        width: 41.65%;
    }
    .bxlt11 {
        display: flex;
        width: 45.81%;
    }
    .bxlt12 {
        display: flex;
        width: 50%;
    }
    .bxlt13 {
        display: flex;
        width: 54.16%;
    }
    .bxlt14 {
        display: flex;
        width: 58.33%;
    }
    .bxlt15 {
        display: flex;
        width: 62.47%;
    }
    .bxlt16 {
        display: flex;
        width: 66.66%;
    }
    .bxlt17 {
        display: flex;
        width: 70.8%;
    }
    .bxlt18 {
        display: flex;
        width: 75%;
    }
    .bxlt19 {
        display: flex;
        width: 79.16%;
    }
    .bxlt20 {
        display: flex;
        width: 83.3%;
    }
    .bxlt21 {
        display: flex;
        width: 87.46%;
    }
    .bxlt22 {
        display: flex;
        width: 91.63%;
    }
    .bxlt23 {
        display: flex;
        width: 95.79%;
    }
    .bxlt24 {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .bxm0 {
        display: none;
    }
    .bxm1 {
        display: flex;
        width: 8.33%;
    }
    .bxm2 {
        display: flex;
        width: 16.66%;
    }
    .bxm3 {
        display: flex;
        width: 25%;
    }
    .bxm4 {
        display: flex;
        width: 33.33%;
    }
    .bxm5 {
        display: flex;
        width: 41.66%;
    }
    .bxm6 {
        display: flex;
        width: 50%;
    }
    .bxm7 {
        display: flex;
        width: 58.33%;
    }
    .bxm8 {
        display: flex;
        width: 66.66%;
    }
    .bxm9 {
        display: flex;
        width: 75%;
    }
    .bxm10 {
        display: flex;
        width: 83.33%;
    }
    .bxm11 {
        display: flex;
        width: 91.66%;
    }
    .bxm12 {
        display: flex;
        width: 100%;
    }
    .bxlm0 {
        display: none;
    }
    .bxlm1 {
        display: flex;
        width: 4.16%;
    }
    .bxlm2 {
        display: flex;
        width: 8.33%;
    }
    .bxlm3 {
        display: flex;
        width: 12.5%;
    }
    .bxlm4 {
        display: flex;
        width: 16.66%;
    }
    .bxlm5 {
        display: flex;
        width: 20.82%;
    }
    .bxlm6 {
        display: flex;
        width: 25%;
    }
    .bxlm7 {
        display: flex;
        width: 29.16%;
    }
    .bxlm8 {
        display: flex;
        width: 33.33%;
    }
    .bxlm9 {
        display: flex;
        width: 37.48%;
    }
    .bxlm10 {
        display: flex;
        width: 41.65%;
    }
    .bxlm11 {
        display: flex;
        width: 45.81%;
    }
    .bxlm12 {
        display: flex;
        width: 50%;
    }
    .bxlm13 {
        display: flex;
        width: 54.16%;
    }
    .bxlm14 {
        display: flex;
        width: 58.33%;
    }
    .bxlm15 {
        display: flex;
        width: 62.47%;
    }
    .bxlm16 {
        display: flex;
        width: 66.66%;
    }
    .bxlm17 {
        display: flex;
        width: 70.8%;
    }
    .bxlm18 {
        display: flex;
        width: 75%;
    }
    .bxlm19 {
        display: flex;
        width: 79.16%;
    }
    .bxlm20 {
        display: flex;
        width: 83.3%;
    }
    .bxlm21 {
        display: flex;
        width: 87.46%;
    }
    .bxlm22 {
        display: flex;
        width: 91.63%;
    }
    .bxlm23 {
        display: flex;
        width: 95.79%;
    }
    .bxlm24 {
        display: flex;
        width: 100%;
    }
}

/* FADE */

.animBxFade__Out {
    opacity: 0;
}

.animBxFade {
    opacity: 1;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}


/* FADE BOTTOM */

.animBxFadeTop__Out {
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.animBxFadeTop {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}


/* FADE BOTTOM */

.animBxFadeBottom__Out {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}

.animBxFadeBottom {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}


/* FADE BOTTOM 2 */

.animBxFadeBottom2__Out {
    opacity: 0;
    transform: translateY(50px) translateX(15px) rotate(3deg);
    -webkit-transform: translateY(50px) translateX(15px) rotate(3deg);
    -moz-transform: translateY(50px) translateX(15px) rotate(3deg);
    -ms-transform: translateY(50px) translateX(15px) rotate(3deg);
    -o-transform: translateY(50px) translateX(15px) rotate(3deg);
}

.animBxFadeBottom2 {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
    -webkit-transform: translateY(0) translateX(0) rotate(0);
    -moz-transform: translateY(0) translateX(0) rotate(0);
    -ms-transform: translateY(0) translateX(0) rotate(0);
    -o-transform: translateY(0) translateX(0) rotate(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

/* FADE BOTTOM 3 */

.animBxFadeBottom3__Out {
    opacity: 0;
    transform: translateY(50px) translateX(-15px) rotate(-3deg);
    -webkit-transform: translateY(50px) translateX(-15px) rotate(-3deg);
    -moz-transform: translateY(50px) translateX(-15px) rotate(-3deg);
    -ms-transform: translateY(50px) translateX(-15px) rotate(-3deg);
    -o-transform: translateY(50px) translateX(-15px) rotate(-3deg);
}

.animBxFadeBottom3 {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
    -webkit-transform: translateY(0) translateX(0) rotate(0);
    -moz-transform: translateY(0) translateX(0) rotate(0);
    -ms-transform: translateY(0) translateX(0) rotate(0);
    -o-transform: translateY(0) translateX(0) rotate(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

@media screen and (max-width:1080px) {
    .animBxFadeBottom3__Out {
        opacity: 0;
        transform: translateY(50px) translateX(15px) rotate(3deg);
        -webkit-transform: translateY(50px) translateX(15px) rotate(3deg);
        -moz-transform: translateY(50px) translateX(15px) rotate(3deg);
        -ms-transform: translateY(50px) translateX(15px) rotate(3deg);
        -o-transform: translateY(50px) translateX(15px) rotate(3deg);
    }
    .animBxFadeBottom3 {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(0);
        -webkit-transform: translateY(0) translateX(0) rotate(0);
        -moz-transform: translateY(0) translateX(0) rotate(0);
        -ms-transform: translateY(0) translateX(0) rotate(0);
        -o-transform: translateY(0) translateX(0) rotate(0);
        transition: 0.75s;
        -webkit-transition: 0.75s;
        -moz-transition: 0.75s;
        -ms-transition: 0.75s;
        -o-transition: 0.75s;
    }
}


/* FADE LEFT */

.animBxFadeLeft__Out {
    opacity: 0;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
}

.animBxFadeLeft {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

/* FADE LEFT 2 */

.animBxFadeLeft2__Out {
    opacity: 0;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
}

.animBxFadeLeft2 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

/* FADE LEFT 2 */

.animBxFadeLeft3__Out {
    opacity: 0;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
}

.animBxFadeLeft3 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

/* FADE RIGHT */

.animBxFadeRight__Out {
    opacity: 0;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
}

.animBxFadeRight {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

/* FADE RIGHT 2 */

.animBxFadeRight2__Out {
    opacity: 0;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
}

.animBxFadeRight2 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

/* FADE RIGHT 3 */

.animBxFadeRight3__Out {
    opacity: 0;
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
}

.animBxFadeRight3 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

.animBxFadeScale__Out {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.animBxFadeScale {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
}

@media screen and (max-width: 1080px) {
    .animBxFade,
    .animBxFadeTop,
    .animBxFadeBottom,
    .animBxFadeBottom2,
    .animBxFadeBottom3,
    .animBxFadeLeft,
    .animBxFadeLeft2,
    .animBxFadeLeft3,
    .animBxFadeRight,
    .animBxFadeRight2,
    .animBxFadeRight3,
    .animBxFadeScale {
        transition: 0.75s;
        -webkit-transition: 0.75s;
        -moz-transition: 0.75s;
        -ms-transition: 0.75s;
        -o-transition: 0.75s;
    }
}
