<button class="btnDefault lbiHover hoverTranslate transition250">Sélectionner un type</button>
<button class="btnDefault hektorHover hoverTranslate transition250">Sélectionner un type</button>
<button class="btnDefault hektorHover withBorder hoverTranslate transition250">Sélectionner un type</button>
<button class="btnDefault btnDefaultMin transition250">Sélectionner un type</button>
<button class="btnDefault lbiHoverRaw transition250">Sélectionner un type</button>
<button class="btnDefault lbiRaw transition250">Sélectionner un type</button>
