<div class="partenaireContainer">
    <div class="partenaireStructure BxAnim animBxFadeBottom__Out">
        <div class="fnaimPartenaireContent partenaireContent BxAnim animBxFadeBottom2__Out">
            <img class="image" src="/assets/img/modules/accueil/module_Partenaires/fnaim.png" alt="logo FNAIM partenaire fédéral">
            <div>
                <p class="textParagraphe">Nous sommes <span class="textStrong">partenaire fédéral</span> <span class="textColor">Exclusif de la FNAIM</span></p>
            </div>
        </div>
        <div class="ff2iPartenaireContent partenaireContent BxAnim animBxFadeBottom2__Out">
            <img class="image" src="/assets/img/modules/accueil/module_Partenaires/ff2i.png" alt="logo FF2I Fédération Francaise de l'internet immobilier">
        </div>
        <div class="ekoResponsablePartenaireContent partenaireContent BxAnim animBxFadeBottom2__Out">
            <img class="image" src="/assets/img/modules/accueil/module_Partenaires/EkoResponsable.png" alt="logo Eko' Responsable">
        </div>
        <div class="happyPartenaireContent partenaireContent BxAnim animBxFadeBottom2__Out">
            <img class="image" src="/assets/img/modules/accueil/module_Partenaires/myCompany.png" alt="Note Choose myCompany">
        </div>
    </div>
</div>
