<section id="deepFlowRealtyGestionBiens_anchorId" class="moduleDefault _deepFlowRealtyGestionBiensContainer">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeLeft__Out" src="/assets/img/modules/gestionBiens/module_deepFlowRealty/deepFlowRealty.png" alt="{{ deepFlowRealtyGestionBiens.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ deepFlowRealtyGestionBiens.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ deepFlowRealtyGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
