<section id="fichesImpressionsGestionBiens_anchorId" class="moduleDefault _fichesImpressionsGestionBiensContainer">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/gestionBiens/module_fichesImpressions/fichesImpressions.png" alt="{{ fichesImpressionsGestionBiens.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ fichesImpressionsGestionBiens.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ fichesImpressionsGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
