<section id="introductionGestionBiens_anchorId" class="moduleDefault _introductionGestionBiensContainer">
    <span class="shape BxAnim animBxFadeRight3__Out"></span>
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/gestionBiens/module_gererVosBiens/gererVosBiens.png" alt="{{ introductionGestionBiens.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h1 class="titrePage BxAnim animBxFadeBottom2__Out">{{ introductionGestionBiens.titre|raw }}</h1>
            <p class="sousTitreSection_2 BxAnim animBxFadeBottom__Out">{{ introductionGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
