<section id="liveVisitGestionBiens_anchorId" class="moduleDefault _liveVisitGestionBiensContainer">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/gestionBiens/module_liveVisit/liveVisit.png" alt="{{ liveVisitGestionBiens.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom__Out">{{ liveVisitGestionBiens.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ liveVisitGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
