<section id="pigeIntegreeGestionBiens_anchorId" class="moduleDefault _pigeIntegreeGestionBiensContainer">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeLeft__Out" src="/assets/img/modules/gestionBiens/module_pigeIntegree/pigeIntegree.png" alt="{{ pigeIntegreeGestionBiens.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ pigeIntegreeGestionBiens.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ pigeIntegreeGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
