<section id="rapprochementsAutoGestionBiens_anchorId" class="moduleDefault _rapprochementsAutoGestionBiensContainer">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/gestionBiens/module_rapprochementsAutos/rapprochementsAutos.png" alt="{{ rapprochementsAutoGestionBiens.altImg }}illustration Rapprochements automatiques">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ rapprochementsAutoGestionBiens.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ rapprochementsAutoGestionBiens.text|raw }}</p>
        </div>
    </div>
</section>
