<section id="expertiseAccompagnementCreationSite_anchorId" class="moduleDefault _expertiseAccompagnementCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Expertise <span class="textColor_2">& accompagnement</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nos spécialistes R&D, UX Design, Référencement et Marketing sont veille constante pour vous proposer des sites <strong>à la pointe du design et une technicité de dernière génération</strong>.<br>Vous pouvez chosisir les yeux fermés !</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Tous nos modèles de sites sont développés en responsive web design. <strong>Ils sont pensés et réalisés pour être parfaitement adaptés à toutes les tailles d'écrans.</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nos équipes vous accompagnent et vous conseillent dans toutes les étapes de la réalisation de votre projet web : de la rédaction du cahier des charges jusqu'à la réalisation complète, en passant par l'élaboration d'une maquette et son intégration.</p>
        </div>
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_expertiseAccompagnement/expertise.png" alt="illustration Deep Flow Realty">
        </div>
    </div>
</section>
