<section id="hebergementCreationSite_anchorId" class="moduleDefault _hebergementCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="divStructure divStructure_1 BxAnim animBxFadeBottom__Out bxd6 bxt12">
            <div class="divContent">
                <div class="imgContent">
                    <img class="image" src="/assets/img/modules/creationSite/module_hebergement/hebergement_1.png" alt="">
                </div>
                <div class="divContentText">
                    <h2 class="titreSection">Hébergement, noms de domaine <span class="textColor_2">& adresse email</span></h2>
                    <p class="textParagraphe">Non seulement, nous vous proposons de créer un site <strong>aux couleurs de votre agences</strong>, mais nous gérons également pour vous l'hébergement de votre site <strong>via notre partenaire OVH.</strong></p>
                    <p class="textParagraphe">Nous gérons <strong>intégralement la création et mise à dispositions de vos mails ainsi que ceux de vos collaborateurs !</strong> Nous veillons également à la réduction de vos noms de domaine.</p>
                </div>
            </div>
        </div>
        <div class="divStructure divStructure_2 BxAnim animBxFadeBottom__Out bxd6 bxt12">
            <div class="divContent">
                <div class="imgContent">
                    <img class="image" src="/assets/img/modules/creationSite/module_hebergement/hebergement_2.png" alt="">
                </div>
                <div class="divContentText">
                    <h2 class="titreSection">Un site dernière <span class="textColor_2">génération</span></h2>
                    <p class="textParagraphe">Tous nos sites reposent sur <strong>la dernière norme HTML5</strong>, qui garantit pour votre site une compatibilité maximale et <strong>la base d'un référencement optimal.</strong></p>
                    <p class="textParagraphe">Nos équipes de développement utilisent les dernières tecnhologies pour <strong>une vitesse de chargement maximale !</strong></p>
                    <p class="textParagraphe">Nous apportons également une importance particulière <strong>à l'expérience utilisateur</strong> et l'animation de tous nos sites.</p>
                </div>
            </div>
        </div>
    </div>
</section>
