<section id="identiteVisuelleCreationSite_anchorId" class="moduleDefault _identiteVisuelleCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_identiteVisuelle/identiteVisuelle.png" alt="illustration Deep Flow Realty">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Identité <span class="textColor_2">visuelle</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Vous êtes en cours de création d'agence ou vous souhaitez redynamiser votre image ?</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Notre équipe graphique vous propose de <strong>créer votre charte graphique</strong> (logo, papier en-tête, carte de visite etc).</p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out lbiHover hoverTranslate transition250">En savoir plus</button>
        </div>
        <div class="bottomStructure bxd12">
            <p class="textBottom titreSection BxAnim animBxFadeBottom__Out">Confiez votre projet <span class="textColor_2">à un professionnel du secteur immobilier !</span></p>
            <a href="/identite-visuelle" class="btnDefault BxAnim animBxFadeBottom__Out lbiHover hoverTranslate transition250">En savoir plus</a>
        </div>
    </div>
</section>
