<section id="introductionCreationSite_anchorId" class="moduleDefault _introductionCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxd7 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_introduction/introduction.png" alt="illustration section la boite immo academy">
        </div>
        <div class="divStructure bxd5 bxt12">
            <h1 class="titrePage BxAnim animBxFadeBottom__Out">La Fabrik'<span class="textColor_2">à sites</span></h1>
            <p class="sousTitreSection BxAnim animBxFadeBottom__Out">Véritable expert <span class="textColor_2">du secteur immobilier</span></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">La Boîte Immo créée depuis plus de 11 ans des sites adaptées à votre activité ! <strong>Avec plus de 5900 références</strong> de sites immobiliers déjà créés, La Boîte Immo met son expertise à votre service.</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nos équipes imaginent des sites uniques et attractifs qui mettent l'accent sur une qualité graphique incomaprable. Vous choisissez, parmi un large panel de sites clairs et efficaces, la formule la plus adaptée à vos attentes, vos besoins et votre budget.</p>
        </div>
    </div>
</section>
