<section id="rgpdCreationSite_anchorId" class="moduleDefault _rgpdCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_RGPD/rgpd.png" alt="illustration Deep Flow Realty">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Des sites conformes <span class="textColor_2">RGPD, Alur</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Tous nos sites suivent les réglementations en vigeur et notamment le Réglement Général sur la Protection des Données (RGPD). <strong>Le RGPD</strong> est un ensemble de règles éditées au niveau européen qui visent à protéger les internautes de l'utilisation faite de leur données par les professionnels.</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Les Mentions Légales présentes sur nos sites répondent aux obligations de transparence de l'information du RGPD et comprennent les informations obligatoires.</p>
        </div>
        <div class="bxrow listElems BxAnim animBxFadeBottom__Out">
            <div class="bxd4 bxt12 elementContent ">
                <img class="image BxAnim" src="/assets/img/modules/creationSite/module_RGPD/picto_1.svg" alt="illustration Deep Flow Realty">
                <p class="textParagraphe">Chaque formulaire intègre <strong>la notion de consentement explicite</strong> à travers une case à cocher par le contact en question afin de donner son accord <strong>sur l'utilisation de ses données.</strong></p>
            </div>
            <div class="bxd4 bxt12 elementContent">
                <img class="image BxAnim" src="/assets/img/modules/creationSite/module_RGPD/picto_2.svg" alt="illustration Deep Flow Realty">
                <p class="textParagraphe">Autre obligation légale liée à <strong>la loi Alur</strong>, le barème des prix des prestations proposées par un professionnel de l'immobilier <strong>doit être publié sur le site internet.</strong> Cette obligation est également mise en palce sur l'intégralité de nos sites.</p>
            </div>
            <div class="bxd4 bxt12 elementContent">
                <img class="image BxAnim" src="/assets/img/modules/creationSite/module_RGPD/picto_3.svg" alt="illustration Deep Flow Realty">
                <p class="textParagraphe">Tous nos sites suivent les réglementations en vigueur et <strong>sont mise à jour sans surcoût !</strong></p>
            </div>
        </div>
    </div>
</section>
