<section id="seaCreationSite_anchorId" class="moduleDefault _seaCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Référencement <span class="textColor_2">naturel & payant</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out"><strong>Vous souhaitez booster la visibilité de votre site ?</strong></p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Nous pouvons définir ensemble vos objectifs et mettre en place la stratégie de référencement qui vous correspondra le mieux !</p>
            <button class="btnDefault BxAnim animBxFadeBottom__Out lbiHover hoverTranslate transition250">En savoir plus</button>
        </div>
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_referencement/referencement.png" alt="illustration Deep Flow Realty">
        </div>
    </div>
</section>
