<section id="siteFacileCreationSite_anchorId" class="moduleDefault _siteFacileCreationSiteContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/creationSite/module_siteFacile/siteFacile.png" alt="illustration Deep Flow Realty">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">Un site <span class="textColor_2">facile à gérer</span></h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Depuis le back-office de votre site vous <strong>ajoutez et modifiez le contenu rédactionnel de vos pages en toute autonomie</strong> mais également les liens de partenaires à afficher. Les modifications sont mises en ligne en temps réel !</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Suivez les performances et l'audience de votre site <strong>grâce à Google Analytics</strong> directement intégré dans le Back-office: visites par mois, durée des visites, nombre de contacts reçus...</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">Retrouvez également les contacts provenant des alertes email du site et les demandes de contact. Si vous êtes utilisateur du logiciel immobilier Hektor, <strong>les demandes reçues depuis votre site sont automatiquement transformées en contact dans votre logiciel !</strong> Un vrai gain de temps !</strong></p>
        </div>
    </div>
</section>
