<section id="demandeRecuGestionContacts_anchorId" class="moduleDefault _demandeRecuGestionContactsContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/gestionContacts/module_demandeRecu/demandeRecu.png" alt="{{ demandeRecuGestionContacts.altImg }}">
        </div>
        <div class="divStructure bxd6 bxt12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ demandeRecuGestionContacts.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ demandeRecuGestionContacts.text|raw }}</p>
        </div>
    </div>
</section>
