 <section id="introductionGestionContacts_anchorId" class="moduleDefault _introductionGestionContactsContainer BxAnim animBxFade__Out">
    <span class="shape BxAnim animBxFadeRight3__Out"></span>
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/gestionContacts/module_gererVosContacts/gererVosContacts.svg" alt="{{ introductionGestionContacts.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h1 class="titrePage BxAnim animBxFadeBottom2__Out">{{ introductionGestionContacts.titre|raw }}</h1>
            <p class="sousTitreSection_2 BxAnim animBxFadeBottom__Out">{{ introductionGestionContacts.text|raw }}</p>
        </div>
    </div>
</section>
