 <section id="rapprochementsAutoGestionContacts_anchorId" class="moduleDefault _rapprochementsAutoGestionContactsContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="bxd6 bxt12 imgStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/gestionContacts/module_rapprochementsAutosContacts/rapprochementsAutosContacts.png" alt="{{ rapprochementsAutoGestionContacts.altImg }}">
        </div>
        <div class="bxd6 bxt12 divStructure">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ rapprochementsAutoGestionContacts.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ rapprochementsAutoGestionContacts.text|raw }}</p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ rapprochementsAutoGestionContacts.text2|raw }}</p>
        </div>
    </div>
</section>
